
header{
  background-color: black;
  height:100px;
  
}

header img{
  margin: 1%;
  margin-left: 281px;

}

nav{
  position: absolute;
  top: 5.5%;
  left: 28%;
}

li{
  display: inline-block;
  color:white;
  padding-left:100px;
  color: white;

}

main div {
  text-align: center;
  margin-top: 30px;
}

main section img{
  margin-right: 30px;
}

section{
  margin-left: 277px;
  margin-top: 30px;
}

main div div {
  text-align: left;
  margin-left:18.19%;
  display: flex;
  margin-right:14.4%;
  margin-top: 30px;
}

h3{
  margin-left: 30px;
  font-weight: bold;
}

p{
  margin-left: 30px;
  margin-top: 1.5%;
  width: 460px;
  height: 327px;
  overflow-y: scroll;
}


footer{
  background-color: black;
  height: 100px;
  margin-top: 30px;
}

button{
  width: 163px;
  height: 40px;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 6%;
}

button:hover{
  transition: 350ms;
  background-color: black;
  color:rgb(196, 43, 43);
  cursor: pointer;
}
